:root {
    --cor-letras: #FFF;
    --cor-hover-letra: #eb2b51;
    --cor-fundo: #000000;
    --fonte: "Alegreya Sans SC", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    color: var(--cor-letras);
}

html{
    scroll-behavior: smooth;
}

/* CABECALHO */

.cabecalho {
    width: auto;
    height: 50vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)),
    url(../imagens/backgroundCyberVision.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecaho__home {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 1vh 3vw 0 3vw;
    font-family: var(--fonte);
    font-weight: 800;
}

.cabecaho__home ul {
    display: flex;
    justify-content: space-between;
    gap: 0 3vw;
}

.cabecaho__home a {
    transition: 0.5s
}

.cabecalho_nome {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: var(--fonte);
}

/* MAIN */

main {
    background-color: var(--cor-fundo);
}

.margem {
    margin: 0 5vw;
}

.main__Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: auto;
    font-size: 25px;
    font-family: var(--fonte);
}

.main__Robo {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50vh;
    width: auto;
    font-size: 1.8vw;
    gap: 2.5vw;
}

.main__Equipe {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    gap: 1.6vh;
}

.main__Fotos img {
    height: auto;
    width: 40vw;
    border: 1px solid var(--cor-hover-letra);
    box-shadow: 3px 3px 10px var(--cor-hover-letra);
}

.main__EquipeTexto {
    margin: 0 20vw;
}

/* FOOTER */
footer{
    background-color: var(--cor-fundo);
    padding: 10vw 0 5vw 0;
}

.footer__Fiap{
    display: flex;
    justify-content: center;
}

.footer__Fiap img{
    height: 10vw;
    width: auto;
}

.footer__Apps{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    gap: 10vw;
}

.footer__Apps i{
    color: var(--cor-hover-letra);
    transition: 0.5s;
}

.voltar{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar h4{
    color: var(--cor-hover-letra);
}

/* HOVER */

.cabecaho__home a:hover {
    color: var(--cor-hover-letra);
}

.footer__Apps i:hover{
    scale: 1.1;
}

/* Resposividade */

@media(max-width: 1000px) {

    .main__Robo {
       height: 30vh;
    }

}


@media(max-width: 800px) {

    .main__Titulo {
        height: 10vh;
    }

    .main__Robo {
        flex-wrap: wrap;
        height: 60vw;
        margin-bottom: 10vh;
    }

    .main__Robo img {
        margin: 0 23vw;
    }

    .main__Equipe{
        margin: 0;
    }

    .paragrafo  {
        padding: 0vh 15vw;
    }

    .main__Robo .order-1 {
        order: 2;
     }
    .main__Robo .order-2 {
        order: 1;
     }

}

@media(max-width: 550px) {
    .cabecalho {
        height: 30vh;
    }

    .cabecaho__home {
        font-size: 16px;
    }

    .cabecalho_nome {
    font-size: 40px;
    }

    .main__Titulo{
        font-size: 20px;
    }

    .main__Robo {
        margin-bottom: 5vw;
    }
}